.excursion {
    padding: 120px 0;

    &__text-wrapper {
        max-width: 486px;
    }

    &__title {
        margin-bottom: 48px;
    }
    
    &__subtitle-wrapper {
        margin-bottom: 90px;
        position: relative;

        &::before {
            @include line(#000, 630px);
            top: -28px;
        }
    }

    &__subtitle {
        font-size: rem(16);
        color: rgba(0, 0, 0, 0.502);
        font-weight: $font-bold;
    }

    &__form-title {
        font-weight: $font-bold;
        font-size: rem(24);
        margin-bottom: 50px;
    }
}

.fix-the-price {
    &__input {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        color: rgba(46, 46, 46, 0.502);
    
        &:focus {
            color: black;
        }
    }
    &__label {
        position: relative;
        padding-bottom: 20px;
    }
    &__button {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .fix-the-price {
        max-width: 376px;

        &__label {
            display: block;
        }

        &__button {
            margin-top: 26px;
        }
    }
}

@media screen and (max-width: 767px) {
    .excursion {
        padding: 90px 0;

        &__title {
            margin-bottom: 15px;
        }

        &__subtitle-wrapper {
            &::before {
                top: -10px;
            }
        }
    }
}