.flat-quize {
    &__title {
        max-width: 530px;

        &::after {
            content: '';
            display: block;
            width: 100%;
            max-width: 620px;
            height: 1px;
            background: #000;
            margin: 10px 0 25px 0;
        }
    }

    &__subtitle {
        font-weight: $font-thin;
        max-width: 580px;
        margin-bottom: 110px;
    }

    &__wrapp {
        align-items: center;
    }
    
    &__questions-number {
        font-size: rem(118);
        line-height: 1em;
        font-weight: $font-bold;
        color: #77859b;
        margin-right: 10px;
    }

    &__text {
        max-width: 370px;
        font-size: rem(18);
        color: #020202;
    }

    &__button-wrapper {
        margin-top: 40px;

    }
    
    &__button {
        box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.21);
    }
}