#gallery {
    display: flex;
    justify-content: space-between;
}

.gallery {
    padding: {
        top: 140px;
        bottom: 120px;
    }

    &__title {
        margin-bottom: 40px;
        @include title(#000);
    }

    &__subtitle-wrapper {
        margin-bottom: 90px;
        position: relative;

        &::before {
           @include line(#000)
        }
    }

    &__subtitle {
        @include subtitle(#000);
    }

    &__image-wrapper {
        flex-basis: 950px;
    }

    &__image {
        display: block;
        width: 100%;
    }

    &__button-wrapper {
        position: relative;
        flex-basis: 243px;
    }

    &__button {
        position: absolute;
        width: 20px;
        height: 33px;
        top: 50%;
        background: transparent;
        border: none;

        &_left {
            left: 0;
            background: url(../img/gallery/arrow.png) center center no-repeat;
            transform: translateY(-50%);
        }

        &_right {
            right: 0;
            background: url(../img/gallery/arrow.png) center center no-repeat;
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

@media screen and (max-width: 767px) {
    .gallery {
        padding: 90px 0;

        &__button-wrapper {
            flex-basis: 8.96%;
        }

        &__image-wrapper {
            flex-basis: 82.5%;
        }
    }
}