.layout-option {
    padding-top: 125px;
    padding-bottom: 145px;

    &__title {
        @include title(#000);
        margin-bottom: 40px;
    }

    &__subtitle {
        @include subtitle(#000);
        position: relative;

        &::before {
            @include line(#000, 636px);
        }
    }

    &__subtitle-wrapper {
        margin-bottom: 55px;
    }
}

.flats-preview {
    &__list {
        display: flex;
        max-width: 636px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 33px 30px;
        border: 1px solid #000;
        margin-bottom: 70px;
    }

    &__item {
        cursor: pointer;
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-size: rem(24);
        font-weight: $font-bold;
        color: #5b5b5b;
    }

    &__checked {
        color: rgb(233, 121, 45);
        border-color: rgb(233, 121, 45);
    }

    &__flat-cards {
        display: flex;
        justify-content: space-between;
    }
}

.flat-cards {

    &__card {
        flex-basis: 32.45%;
        padding-top: 60px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.08);
    }

    &__image {
        margin: 0 auto;
        display: block;
        margin-bottom: 55px;
        max-width: 61.37%;
        height: 14vw;
    }

    &__title {
        margin: 0 auto;
        margin-bottom: 17px;
        max-width: 61.37%;
    }

    &__info {
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 61.37%;
    }

    &__form {
        display: block;

        & #tel-error {
            display: none !important;
        }

        label {
            position: relative;
            display: block;
            margin: 0 auto;
            text-align: left;
            max-width: 61.37%;
            margin-bottom: 40px;
        }
    }

    &__get-number {
        font-size: rem(24);
        font-weight: $font-thin;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        width: 90%;
        display: block;
    }

    &__button {
        max-width: 100%;
    }
}

@media screen and (max-width: 992px) {

    .layout-option {
        padding-bottom: 27px;
    }

    .flats-preview__flat-cards {
        display: block;
    }

    .flat-cards__card:not(:last-child) {
        margin-bottom: 83px;
    }
}