.mortgage-flat {
	background: url(../img/quize-mortgage-flat-bg.jpg) left bottom no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        right: 7%;
        top: 0;
        width: 85px;
        height: 100%;
    }

    &__flat-quize {
        padding: 120px 60px 250px;
        max-width: 900px;
        background: $WHITE;
    }

}

.mortgage-quize{
    &__button-wrapper {
        margin-top: 40px;
    }
    
    &__button {
        box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.21);
    }
}