
.offer-window {
	display: flex;
	position: fixed;
	right: 3%;
	bottom: 40%;
	width: 100%;
	max-width: 290px;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.75);
	padding: 15px 10px;
	border: 1px solid rgba(255, 255, 255, 0.75);
	z-index: 1500;
}
.offer-window__message {
	max-width: 210px;
	padding: 5px 0 0 12px;
	color: #fff;
}
.offer-window__image {
	width: 80px;
	background: url(../img/key.png) center center no-repeat;
	background-size: contain;
}

.offer-window__cancel-button {
	position: absolute;
	top: 3px;
	right: 8px;
	font-size: 24px;
	line-height: 1em;
	cursor: pointer;
	color: #fff;
}