.personal-flat {
	background: url(../img/quize-personal-flat-bg.jpg) left bottom no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        right: 7%;
        top: 0;
        width: 85px;
        height: 100%;
    }

    &__flat-quize {
        padding: 120px 60px 250px;
        max-width: 900px;
        background: $WHITE;
    }
}