.special-offer {
    background: url(../img/to-get-bg.png) center center no-repeat;
    background-size: cover;

    padding: 120px 0 112px;

    &__text-wrapper {
        margin-bottom: 95px;
        max-width: 465px;
    }

    &__title {
        @include title(#fff);
        margin-bottom: 30px;
    }

    &__subtitle {
        @include subtitle(#fff);
        position: relative;

        &::before {
            @include line(#fff);
        }
    }

    &__offer {
        margin-bottom: 170px;
        display: flex;
        justify-content: flex-end;
    }
    
    &__timer {
        display: flex;
        flex-basis: 66.16%;
        justify-content: space-between;
    }
    
    &__form {
        display: flex;
        max-width: 88.3%;
    }

    &__label {
        position: relative;
        padding-bottom: 20px;
        flex-basis: 350px;
    }
    &__input {
        color: rgba(255, 255, 255, 0.5);
        font-size: rem(24);
        border-bottom: 1px solid;
        width: 90%;
    }
    &__button {
        margin-bottom: 20px;
    }
}

.timer__unit {
    font-size: rem(82);
    font-weight: $font-black;
    color: #e8eaed;
    position: relative;

    &::before {
        @include line(#fff, 100%);
        top: rem(83);
    }

    &::after {
        position: absolute;
        bottom: -45px;
        text-align: center;
        text-transform: uppercase;
        left: 50%;
        font-size: rem(48);
        transform: translateX(-50%);
        color: rgba(252, 252, 252, 0.2);
        font-weight: $font-light;
    } 

    &:first-child::after {
        content: 'Дней';
    }

    &:nth-child(2)::after {
        content: 'Часов';
    }

    &:nth-child(3)::after {
        content: 'Минут';
    }

    &:last-child::after {
        content: 'Секунд';
    }
}

.fix-the-price {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__label {
        flex-basis: 28.74%;
        position: relative;
    }
}
.fix-the-price__input {
    color: rgba(255, 255, 255, 0.5);
    font-size: rem(24);
    border-bottom: 1px solid;
    width: 100%;
}

.fix-the-price__input:focus {
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1199px) {
    .special-offer {
        &__offer {
            justify-content: center;
            margin-bottom: 95px;
        }

        &__subtitle-wrapper {
            margin-bottom: 115px;
        }

        &__timer {
            flex-basis: 100%;
            margin-bottom: 40px;
        }

        &__form {
            display: block;
        }

        &__label {
            display: block;
            max-width: 372px;
            margin-bottom: 18px;

            &:nth-child(3) {
                margin-bottom: 50px;
            }
        }

        &__button {
            display: block;
            // margin-top: 30px;
        }
    }
}

@media screen and (max-width: 992px) {
    .timer__unit {
        font-size: rem(40);

        &::before {
            top: 3rem;
        }

        &::after {
            font-size: rem(30);
        }
    }
}

@media screen and (max-width: 767px) {
    .special-offer{
        padding-top: 95px;
        padding-bottom: 90px;

        &__timer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 55px;
        }

        &__subtitle-wrapper {
            margin-bottom: 60px;
        }

        &__offer {
            margin-bottom: 50px;
        }
    }

    .timer__unit {
        text-align: center;
        
        &::before {
            left: 50%;
            transform: translateX(-50%);
            max-width: 95px;
        }

        &:nth-child(1) {
            order: 0;
        }

        &:nth-child(2) {
            order: 2;
        }

        &:nth-child(3) {
            order: 1;
        }

        &:nth-child(4) {
            order: 3;
        }
    }
}