// Font
$main-font          : 'HelveticaNeueCyr', sans-serif;
$font-black         : 900;
$font-bold          : 700;
$font-roman         : 400;
$font-light         : 300;
$font-thin          : 100;

// Size

$mainFontSize    : 16px;

// MQ width

$mediaXXL        : 1500px;
$mediaXL         : 1200px;
$mediaLG         : 992px;
$mediaMD         : 768px;
$mediaSM         : 576px;

$containerXXL    : 1435px;
$containerXL     : 1140px;
$containerLG     : 960px;
$containerMD     : 720px;
$containerSM     : 540px;
$containerESM    : 100%;

// general colors

$BLACK: #000;
$WHITE: #fff;

// Main color

$main-text-color     : #000;
$main-light-color     : #fbfbfb;
$button-color        : #e9792d;

// Neutral Color

// Border Color