@import './container';

html {
	font-size: $mainFontSize;
}

body {
	padding: 0;
	margin: 0;
	letter-spacing: 0.06em;
	color: $main-text-color;
	background-size: inherit;
	font-family: $main-font;
	font-style: normal;
	font-weight: $font-roman;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: $font-roman;
}

h1 {
	font-size: rem(77);
	font-weight: $font-bold;
}

h2 {
	font-size: rem(32);
}

h3 {
	font-size: rem(24);
}

h5 {
	font-size: rem(27);
}

a,
a:hover,
a:active  {
	transition: all 0.6s ease;
	text-decoration: none;
}

input:focus,
input,
input:hover,
input:active,
button:focus,
button,
button:hover,
button:active {
	outline: none;
}

button {
	cursor: pointer;
}

input {
	background: transparent;
	border: none;
	padding: 5px 0;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.btn {
	font-weight: $font-bold;
	display: block;
	font-size: rem(20);
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	max-width: 350px;
	padding: 25px 5px;
	text-align: center;
	cursor: pointer;
	background: rgba(252,139,47,1);
	background: -moz-linear-gradient(-45deg, rgba(252,139,47,1) 0%, rgba(250,180,50,1) 23%, rgba(255,139,15,1) 51%, rgba(250,180,50,1) 76%, rgba(252,139,47,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,139,47,1)), color-stop(23%, rgba(250,180,50,1)), color-stop(51%, rgba(255,139,15,1)), color-stop(76%, rgba(250,180,50,1)), color-stop(100%, rgba(252,139,47,1)));
	background: -webkit-linear-gradient(-45deg, rgba(252,139,47,1) 0%, rgba(250,180,50,1) 23%, rgba(255,139,15,1) 51%, rgba(250,180,50,1) 76%, rgba(252,139,47,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(252,139,47,1) 0%, rgba(250,180,50,1) 23%, rgba(255,139,15,1) 51%, rgba(250,180,50,1) 76%, rgba(252,139,47,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(252,139,47,1) 0%, rgba(250,180,50,1) 23%, rgba(255,139,15,1) 51%, rgba(250,180,50,1) 76%, rgba(252,139,47,1) 100%);
	background: linear-gradient(135deg, rgba(252,139,47,1) 0%, rgba(250,180,50,1) 23%, rgba(255,139,15,1) 51%, rgba(250,180,50,1) 76%, rgba(252,139,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8b2f', endColorstr='#fc8b2f', GradientType=1 );	border: none;
	background-size: 350%;
	-webkit-animation: Gradient 7s ease infinite;
    -moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
	transition: all .5s ease;
	&:hover {
			animation: none;
		}
	&:active {
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);	
	}  
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#overlay {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 100;
}

#thx {
	padding: 50px 20px;
	background: #fff;
	border-radius: 15px;
	border: 2px solid #dadada;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #303030;
	z-index: 100;
}
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.91);
    overflow: hidden;
	display: none;
	z-index: 100;
}

#loader img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
	margin-top: -25px;
	z-index: 100;
}
label.error {
    font-size: 12px;
    color: red;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 240px;
}

input.error,
input.error:focus {
	border: none !important;
    border-bottom: 1px solid red !important;
}

input.valid,
input.valid:focus {
	border: none !important;
    border-bottom: 1px solid green !important;
}

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	z-index: 1;
}

@media screen and (max-width: 575px) {
    html {
		font-size: 14px;
	}
	h1 {
		font-size: rem(50);
	}
}